
/*font-family: 'Orbitron', sans-serif;
font-family: 'Bangers', cursive;
font-family: 'Architects Daughter', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Economica', sans-serif;
font-family: 'Montez', cursive;*/


h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
  text-align: center;
  margin: 5px auto;
}

h2 {
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
  text-align: center;
  margin: 5px auto;

}

p {
  font-family: 'Architects Daughter', cursive;
  font-size: 20px;
  text-align: center;
  margin: 5px auto;

}

button {
  font-family: 'Bangers', cursive;
  display: block;
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
  color: black;
  background-color: white;
  margin: 5px auto;
}

body {
  background-color: lavender;
}

.hello-area {
  width: 50%;
  margin: 15px auto;
  border: 2px solid indigo;
  padding:10px;
  background-color: mediumpurple;
  border-radius: 10px;
}

.magic-box {
  display: none;
  width: 50%;
  margin: 15px auto;
  border: 2px solid orange;
  border-radius: 10px;
  padding: 10px;
  background-color: gold;
}

.counter {
  font-family: 'Bangers', cursive;
  text-align: center;
  font-size: 25px;
  width: 35%;
  height: 30px;
  padding: 5px;
  border: 2px solid darkcyan;
  border-radius: 10px;
  background-color: cadetblue;
  margin: auto;

}
